
/*Replacement / Overwritten Styles*/
#skills > li{
  float: left;
}
/*End Replacement / Overwritten Styles*/

/*Image Styles*/
.img-links{
  width: 15%;
  transition: all .15s ease-in;
  margin: 0px 2px;
}
/*End Image Styles*/

/*Input Styles*/
input {
  border-radius: 0px!important;
  padding: 10px!important;
  transition: border 0.3s!important;
  height: 42px!important;
}

.other-textarea {
  display: none;
}
/*End Input Styles*/


/*Text Styles*/
.page-header-title {
  display: block;
  /*font-family: 'Titillium Web';*/
  font-family: 'Open Sans';
  font-size: 32px;
  font-weight: Normal;
  text-align: center;
  margin-top: 10px;
}

.page-header-subtitle {
  display: block;
  /*font-family: 'Raleway',serif;*/
  font-family: 'Open Sans';
  font-size: 25px;
  font-weight: Normal;
  text-align: center;
  padding-bottom: 18px;
}

.page-header-skills{
  text-align: justify;
  padding-left: 50px;
  display: block;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: Normal;
  opacity: 0.9;
}

.exp-header{
  font-weight: bold;
  /*padding-left: 22px;*/
}

.body-text{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
}

#mystory{
  text-align: justify;
}
/*End Text Styles*/

/*Container Styles*/
html, body{
  /*background-image: url("/portfolio/assets/images/hexagon_background.jpg");*/
  /*color: #fff;*/
  /*background-size: 100% 100%;*/
  height: 100%;
}

ul{
  padding-left: 17px;
  padding-top: 5px;
}

.container{
  text-align: center;
  padding: 40px;
  margin-left: 0px;
}

.exp-list{
  text-align:left;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
}

#header{
  border-bottom: 1px solid #0275d8;
  padding-bottom: 25px;
  margin-bottom: 40px;
  
}

#langs-libs{
  /*padding: 10px 15px;*/
}

.links-container{
  margin-top: 16px;
}

#main-sidebar{
  padding: 0px 20px 0px 0px;
  background-color: #1a82f7;
}

#page-content-wrapper{
  max-width: 900px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 150px;
}

#sidebar-wrapper{
  padding: 30px 5px;
  /*change the vertical padding back to 20vh if you want centered*/
  text-align: center;
  background-color: #00aaff;
}

/*#whitespace{
  padding-top: 500px;
  margin-top: 500px;
}
*/

#wrapper{
  padding-left: 300px;
  padding-right: 150px;
}

/*End Container Styles*/

/*Misc ID Styles*/
#aboutme-link{
  background-color: #fff;
}

#mail-link{
  background-color: #fff;
}

#avatar-pic{
  width: 25%;
}
/*End Misc ID Styles*/
