
/*Button Styles*/
.btn-option {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px 10px 0px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  min-height: 60px;
  max-height: 100px;
  min-width: 110px;
  max-width: 150px;
  transition: all .1s ease-in;
}

.btn-continue {
  display: inline-block;
  padding: 6px 12px;
  margin: 30px 10px 0px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  color: #fff;
  background-color: #0275d8;
  border-color: #ccc;
  height: 55px;
  width: 180px;
  transition: all .1s ease-in;
  text-transform: uppercase;
}

.btn-option:hover,
.btn-continue:hover,
.btn-clicked:hover{
  box-shadow: 0 0 4px 1px #1a82f7;
}

.btn-clicked{
  color: #fff;
  background-color: #0275d8!important;
  border-color: #0275d8;
}

/*End Button Styles*/


/*Replacement / Overwritten Styles*/
#skills > li{
  float: left;
}
/*End Replacement / Overwritten Styles*/

/*Image Styles*/
.img-links{
  width: 15%;
  transition: all .15s ease-in;
  margin: 0px 2px;
}
/*End Image Styles*/

/*Input Styles*/
input {
  border-radius: 0px!important;
  padding: 10px!important;
  transition: border 0.3s!important;
  height: 42px!important;
}

.other-textarea {
  display: none;
}
/*End Input Styles*/


/*Text Styles*/
.page-header-title {
  display: block;
  font-family: 'Titillium Web';
  font-size: 32px;
  font-weight: Normal;
  text-align: center;
  margin-top: 10px;
}

.page-header-subtitle {
  display: block;
  font-family: 'Raleway',serif;
  font-size: 25px;
  font-weight: Normal;
  text-align: center;
  padding-bottom: 18px;
}

.page-header-skills{
  text-align: justify;
  padding-left: 50px;
  display: block;
  font-family: 'Play';
  font-size: 20px;
  font-weight: Normal;
  opacity: 0.9;
}

.exp-header{
  left: 10%;
  font-weight: bold;
}

.body-text{
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 17px;
}

#mystory{
  text-align: justify;
}
/*End Text Styles*/

/*Container Styles*/
html, body{
  /*background-color: #0275d8;*/
  height: 100%;
}
.container{
  text-align: center;
  padding: 40px;
  margin-left: 0px;
}

.exp-list{
  text-align:left;
  font-family: 'Source Code Pro';
}

#header{
  border-bottom: 1px solid #0275d8;
  padding-bottom: 25px;
  margin-bottom: 40px;
  
}

#langs-libs{
  padding: 10px 0px;
}

.links-container{
  margin-top: 16px;
}

#main-sidebar{
  padding: 0px 20px 0px 0px;
  background-color: #1a82f7;
}

#page-content-wrapper{
  padding: 20px 50px;
}

#sidebar-wrapper{
  width: 300px;
  padding: 30px 5px;
  /*change the vertical padding back to 20vh if you want centered*/
  text-align: center;
  background-color: #00aaff;
}

#whitespace{
  padding-top: 500px;
  margin-top: 500px;
}

#wrapper{
  padding-left: 300px;
  padding-right: 150px;
}

/*End Container Styles*/

/*Misc ID Styles*/
#aboutme-link{
  background-color: #fff;
}

#mail-link{
  background-color: #fff;
}

#avatar-pic{
  width: 25%;
}
/*End Misc ID Styles*/
